<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bucaminas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lab1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
</head>
<body>

<div class="mb-3">
    <h1>STF Games:El juego de las minas explosivas</h1>
</div>

<form th:object="${datos}">
    <div class="mb-3">
        <label  class="form-label">Numero de filas </label>
        <input type="number" th:field="*{filas}">
    </div>
    <div class="mb-3">
        <label  class="form-label">Numero de Columas </label>
        <input type="number" th:field="*{columnas}">
    </div>
    <div class="mb-3">
        <label  class="form-label">Numero de Intentos </label>
        <input type="number" th:field="*{intentos}">
    </div>
    <div class="mb-3">
        <label  class="form-label">Numero de bombas </label>
        <input type="number" th:field="*{bombas}">
    </div>
    <div class="mb-3">
        <label  class="form-label">Posiciones de las bombas </label>
        <input type="text" th:field="*{posiciones}">
    </div>
    <a href=>
    <button type="submit" class="btn btn-primary">Submit</button>
    </a>
</form>

</body>
</html>